<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=500">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "andyvanee.com" %></title>

    <link href="http://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
    <link href="http://andyvanee.com/feed.xml" rel="alternate" type="application/rss+xml" title="<%= site_subtitle %>" />
    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="masthead">
        <h1>
          <a href="/">andyvanee.com</a>
        </h1>
      </div>
      <div class="main" role="main">
        <h2><%= current_page.data.title %></h2>

        <% if current_article %>
          <div class="date"><%= current_article.date.strftime('%b %d, %Y')%></div>
        <% end %>

        <%= yield %>

        <% if current_article %>
          <% if current_article.tags.length > 0 %>
            <div class="tags">
              tags:
              <% current_article.tags.each do |tag| %>
                <span class="tag"><%= link_to tag, tag_path(tag) %></a></span>
              <% end %>
            </div>
          <% end %>
          <div class="pagination">
            <% if current_article.next_article %>
              <span class="next">
                <%= link_to '&laquo; Newer', current_article.next_article %>
              </span>
            <% else %>
              <span class="next">&laquo; Newer</span>
            <% end %>
            <% if current_article.previous_article %>
              <span class="prev">
                <%= link_to 'Older &raquo;', current_article.previous_article %>
              </span>
            <% else %>
              <span class="prev">Older &raquo;</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="footer">
        <p><a href="/">andyvanee.com</a></p>
      </div>
    </div><!-- .container -->
  </body>
</html>
