<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title><%= current_page.data.title || "andyvanee.com" %></title>
    <link href="http://fonts.googleapis.com/css?family=Rokkitt:700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="post <%= page_classes %>">
    <div class="main" role="main">

      <div class="post-single">
        <h2>
          <a href="<%= current_article.url %>"><%= current_page.title %></a>
        </h2>
        <div class="date"><%= current_article.date.strftime('%d-%b-%Y')%></div>

        <%= yield %>
      </div>

      <p>
          tags:
          <% current_article.tags.each do |tag| %>
            <%= link_to tag, tag_path(tag) %></a>
          <% end %>
      </p>
    </div>
  </body>
</html>
