---
pageable: true
per_page: 6
---

<ul class="article-list">
<% page_articles.each_with_index do |article, i| %>
  <li>
    <span class="title"><%= link_to article.title, article %></span>
    <span class="date"><%= article.date.strftime('%b %e') %></span>
    <div class="summary">
      <%= article.summary %>
      <p class="read-more"><%= link_to "read more", article %></p>
    </div>
  </li>
<% end %>
</ul>

<% if paginate %>
  <div class="pagination">
    <% if num_pages > 1 %>
      <% if prev_page %>
        <span class="prev"><%= link_to '&laquo; Newer', prev_page %></span>
      <% else %>
        <span class="prev">&laquo; Newer</span>
      <% end %>

      <span class="page-no">Page <%= page_number %> of <%= num_pages %></span>
    <% end %>

    <% if next_page %>
      <span class="next"><%= link_to 'Older &raquo;', next_page %></span>
    <% else %>
      <span class="next">Older &raquo;</span>
    <% end %>
  </div>
<% end %>
