---
pageable: true
per_page: 9
---

<ul class="article-list column column-1 column-gutterless">
<% page_articles.each_with_index do |article, i| %>
  <li class="column column-3">
    <h2><%= link_to article.title, article %></h2>
    <div class="date"><%= article.date.strftime('%b %d, %Y')%></div>
    <div class="summary">
      <% if article.body.length > summary_length %>
        <%= strip_tags article.summary %>
        <p class="read-more"><%= link_to "Read More", article %></p>
      <% else %>
        <%= article.body %>
      <% end %>
    </div>
  </li>
<% end %>
</ul>

<% if paginate %>
  <div class="pagination column column-1">
    <% if num_pages > 1 %>
      <% if prev_page %>
        <span class="prev"><%= link_to '&laquo; Newer', prev_page %></span>
      <% end %>
      <span class="page-no">Page <%= page_number %> of <%= num_pages %></span>
    <% end %>

    <% if next_page %>
      <span class="next"><%= link_to 'Older &raquo;', next_page %></span>
    <% end %>
  </div>
<% end %>
