---
pageable: true
per_page: 12
---
<h1>Articles tagged '<%= tagname %>'</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul class="article-list">
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <span class="title"><%= link_to article.title, article %></span>
      <span class="date"><%= article.date.strftime('%b %e') %></span>

      <% if article.body.length > 5000 %>
        <%= article.summary %>
        <p class="read-more"><%= link_to "read full article", article %></p>
      <% else %>
        <%= article.body %>
      <% end %>

      <a class="moot"
         title="<%= article.title %>"
         data-show_online="false"
         data-upload="false"
         href="https://moot.it/i/d3scribe/comments:<%= article.slug %>">Comments</a>

    </li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
